

<div class="card bg-light mb-3">
  <h5 class="card-header">{{this.name}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{this.purpose}}</h5>
    <p class="card-text">Phone:&nbsp;{{this.phone}}</p>
    <p class="card-text">Location:&nbsp;{{this.location}}</p>
    <p class="card-text">Timestamp:&nbsp;{{formatDate this.checkIn}}</p>
    <a href="/admin/approvevisitor/{{this.visit_id}}" class="btn btn-success btn-block">Approve</a>
    <a href="/admin/rejectvisitor/{{this.visit_id}}" class="btn btn-danger btn-block">Reject</a>
  </div>
</div>