


<div class="ccontainer mt-4">
    <div class="profile-box">
        <img src="/profile-pic.png" class="profile-pic">
        <h3>{{this.name}}</h3>
        <p>{{this.purpose}}</p>
        {{!-- <button type="button">Follow</button> --}}
        <div class="profile-bottom">
            <p>Id:&nbsp;{{this.id}}</p>
            <p>Phone:&nbsp;{{this.phone}}</p>
            <p>Email:&nbsp;{{this.email}}</p>
            <p>Status:&nbsp;{{this.status}}</p>
        </div>
    </div>

</div>